%h1 Work Area / Image Evaluation

-# Селект для выбора темы
%h2 Выберите тему
= form_tag work_path, method: :get, remote: true do
  = select_tag :theme_id,
    options_from_collection_for_select(@themes, :id, :name, @selected_theme_id),
    prompt: "Выберите тему",
    onchange: "this.form.submit()"

-# Таблица с изображениями
%table.table
  %thead
    %tr
      %th ID
      %th Image
      %th Description
      %th Task
      %th Theme
      %th Avg Rating
      %th Your Rating
  %tbody
    - @images.each do |image|
      %tr
        %td= image.id
        %td
          - if image.file_name.present?
            = image_tag asset_path("pictures/#{image.file_name}"), width: 120
        %td= image.description
        %td= image.task.title
        %td= image.task.theme.name
        %td= image.average_rating
        %td
          - existing_rating = image.expert_ratings.find_by(user: current_user)
          = form_with(model: existing_rating || image.expert_ratings.build(user: current_user), url: expert_ratings_path, remote: true) do |f|
            = f.hidden_field :image_id, value: image.id
            = f.number_field :rating, value: existing_rating&.rating, min: 1, max: 10, style: "width: 50px;"
            = f.submit "OK", class: "btn btn-sm btn-primary"