.image-form-layout
  .image-form-preview-card
    %h2= t("images.form.preview", default: "Превью")

    .image-form-preview
      - image_src = image.persisted? ? image_source_for(image) : nil
      - if image_src.present?
        = image_tag image_src, class: "image-form-preview__image"
      - else
        .image-form-preview__placeholder
          %span= t("images.form.no_preview", default: "Изображение пока не выбрано")

    .image-form-preview-card__hint
      %p= t("images.form.preview_hint", default: "Для новых изображений лучше использовать загрузку файла с устройства. Поле имени файла нужно только для старых картинок из assets.")

  .image-form-card
    = form_with(model: image, class: "image-form") do |form|
      - if image.errors.any?
        .image-form-errors
          %h2= t("images.form.errors_title", default: "Проверьте данные формы")
          %ul
            - image.errors.each do |error|
              %li= error.full_message

      .image-form__field
        = form.label :task_id, t("images.form.task")
        = form.collection_select :task_id, Task.includes(:theme).order(:id), :id, :title, { prompt: t("images.form.select_task", default: "Выберите задачу") }, class: "image-form__input"

      .image-form__field
        = form.label :photo, t("images.form.photo", default: "Загрузить изображение")
        = form.file_field :photo, class: "image-form__file"

      .image-form__field
        = form.label :file_name, t("images.form.file_name")
        = form.text_field :file_name, class: "image-form__input", placeholder: "mobile_1.jpg"

      .image-form__field
        = form.label :description, t("images.form.description")
        = form.text_area :description, class: "image-form__textarea", rows: 5, placeholder: t("images.form.description_placeholder", default: "Кратко опишите изображение")

      .image-form__actions
        = form.submit t("images.form.submit"), class: "image-form__submit"