.image-form-page
  .image-form-page__header
    .image-form-page__title-block
      %h1= t(".title")
      %p= t(".subtitle", default: "Измените описание, задачу или загруженное изображение.")

    .image-form-page__actions
      = link_to t(".show"), @image, class: "image-form-page__secondary-link"
      = link_to t(".back"), images_path, class: "image-form-page__secondary-link"

  = render "form", image: @image