%h1 Images Gallery

%table.table
  %thead
    %tr
      %th ID
      %th Image
      %th Description
      %th Task
      %th Theme
      %th Avg Rating
  %tbody
    - @images.each do |image|
      %tr
        %td= image.id
        %td
          - if image.file_name.present?
            = image_tag asset_path("pictures/#{image.file_name}"), width: 120
        %td= image.description
        %td= image.task.title
        %td= image.task.theme.name
        %td= image.average_rating